@import "_setting.scss";

.nav-app {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: $hover-button-color;
  }
}

.pseudo-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.nav-app-dropdown {
  position: fixed;
  width: 304px;
  top: 48px;
  left: 4px;
  padding: 0px 12px;
  background-color: $nav-bar-bg-color;
  color: black;
  z-index: 3;
  border-radius: 4px;

  .switchTo_section {
    padding: 8px 0px;
    .switch-title {
      margin-right: 5px;
    }
    .switch-link {
      text-decoration: none;
      font-weight: 550;
      color: #0052cc;
      padding: 0px 10px;
      height: 32px;
      line-height: 32px;
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      margin-left: 8px;
    }

    .switch-to-trello {
      padding: 7px 8px;
      cursor: pointer;
      border-radius: 4px;
      &:hover {
        background-color: darken(#fff, 5);
      }
      a {
        text-decoration: none;
      }
    }
  }

  .discover-section {
    padding: 8px 0px;

    .title-section {
      font-weight: bold;
      color: #6c788c;
      margin: 16px 0px 4px 8px;
    }
    .item-section {
      display: flex;
      align-items: center;
      padding: 7px 8px;
      cursor: pointer;
      border-radius: 3px;
      &:hover {
        background-color: #f2f2f2;
      }
      .cover-img {
        width: 32px;
        height: 32px;
        background-color: #ebecf0;
        border-radius: 8px;
        margin-right: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 1px 1px rgba(9, 30, 66, 0.13);
      }
      .item-section-title {
        display: flex;
        align-items: center;
        .item-section-tag {
          margin-left: 8px;
          color: #0052cc;
          font-weight: bold;
          background-color: #deebff;
          border-radius: 3px;
          height: 17px;
          line-height: 17px;
          font-size: 0.8rem;
          padding: 0px 8px;
        }
      }

      .item-section-description {
        font-size: 0.7rem;
        color: #a3a2a2;
      }
    }
  }

}
