@import "_setting.scss";

.compact-board {
  bottom: 0;
  left: calc(#{$sidebar-app-width} - 5px);
  position: absolute;
  right: 0;
  top: 7vh;
}

.extend-board {
  bottom: 0;
  left: 20px;
  position: absolute;
  right: 0;
  top: 7vh;
}
