@import "_setting.scss";

$--board-bar-text-dropdown: #5e6c84;
$--divider-section: #091e4221;
$--hover-board-name-pop-up: #091e420a;

.navbar-board {
  height: auto;
  padding: 0 $gap;
  margin: 5px 0px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  .navbar-board-btn-divider {
    border-left: 1px solid hsla(0, 0%, 100%, 0.16);
    height: 16px;
    margin: 8px 8px 12px 4px;
  }
  .btn-action {
    height: 32px;
    padding: 0 12px;
    margin: 0px 4px 4px 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    & > * {
      white-space: nowrap;
    }
    cursor: pointer;
    .left-icon {
      margin-right: 8px;
    }
  }

  .navbar-board-left {
    display: flex;

    .board-name {
      font-size: 18px;
      font-weight: bold;
      white-space: nowrap;
      width: 150px;
      background-color: hsla(0, 0%, 100%, 0);
      border: none;
      &:hover {
        background-color: $hover-button-color;
      }
      &:focus {
        cursor: text;
        color: $app-main-text-color;
        background-color: white;
      }
    }

    .tick-star {
      background-color: $button-color;
      font-size: 18px;
      &:hover {
        background-color: $hover-button-color;
        color: #f2d600;
        .icon-tick-star {
          scale: 1.1;
        }
        .icon-tick-star-block {
          scale: 1.1;
        }
      }
      .icon-tick-star-block {
        color: #f2d600;
      }
    }

    .display-work-spacing {
      .btn-display-work-spacing {
        background-color: $button-color;
        &:hover {
          background-color: $hover-button-color;
        }
      }
      .dropdown-display-work-spacing {
        box-shadow: var(
          --ds-shadow-overlay,
          0 8px 16px -4px rgba(9, 30, 66, 0.25),
          0 0 0 1px rgba(9, 30, 66, 0.08)
        );
        width: 370px;
        position: absolute;
        background-color: white;
        border-radius: 3px;
        z-index: 1;
        .pop-over-header {
          margin-bottom: 8px;
          text-align: center;
          position: relative;
          height: 40px;
          color: $--board-bar-text-dropdown;

          .pop-over-header-title {
            line-height: 40px;
            padding: 0 32px;
            margin: 0 12px;
            position: relative;
            border-bottom: 1px solid $--divider-section;
            display: block;
          }
          .pop-over-header-close-btn {
            top: 0px;
            right: 0px;
            padding: 10px 12px 10px 8px;
            position: absolute;
            cursor: pointer;
            &:hover {
              color: black;
            }
          }
        }
        .pop-over-content {
          &:last-child {
            padding-bottom: 18px;
          }
          padding: 6px 12px;
          cursor: pointer;
          .icon-right {
            margin-right: 5px;
          }
          .organization-icon {
            color: #ed6d5c;
          }

          .sub-name {
            padding-top: 5px;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: $--board-bar-text-dropdown;
          }
          &:hover {
            background-color: $--hover-board-name-pop-up;
          }
        }
        .disabled {
          .organization-icon {
            color: #a5adba;
          }
          .sub-name {
            color: #a5adba;
          }
          color: #a5adba;
          background: none !important;
          cursor: default;
          pointer-events: none;
        }
      }
    }

    .board {
      background-color: #dfe1e6;
      color: $app-main-text-color;
      &:hover {
        background-color: white;
      }
    }
    .btn-update-display {
      background-color: $button-color;
      &:hover {
        background-color: $hover-button-color;
      }
    }
    .dropdown-update-display {
      box-shadow: var(
        --ds-shadow-overlay,
        0 8px 16px -4px rgba(9, 30, 66, 0.25),
        0 0 0 1px rgba(9, 30, 66, 0.08)
      );
      position: absolute;
      background-color: white;
      width: 304px;
      border-radius: 3px;
      z-index: 1;
      .pop-over-header {
        margin: 0px 12px 8px;
        text-align: center;
        border-bottom: 1px solid $--divider-section;
        color: $--board-bar-text-dropdown;
        .pop-over-header-title {
          padding: 0px 32px;
          height: 40px;
          line-height: 40px;
        }
        .pop-over-header-close-btn {
          right: 0;
          top: 0;
          padding: 10px 12px 10px 8px;
          position: absolute;
          cursor: pointer;
          &:hover {
            color: black;
          }
        }
      }
      .pop-over-content {
        padding: 0px 12px;

        .pop-over-content-item {
          height: 32px;
          line-height: 32px;
          margin: 0px 8px 8px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          .content-item-left {
            display: flex;
            align-items: center;
            color: $--board-bar-text-dropdown;
            cursor: pointer;
            flex: 1;
            & > * {
              margin-right: 8px;
              cursor: pointer;
            }
            .checkbox-input {
              margin-bottom: 3px;
            }
            .checkbox-label {
              display: flex;
              align-items: center;
              flex: 1;

              & > * {
                margin-right: 5px;
              }
            }
          }
          .content-item-right {
            padding-bottom: 2px;
          }
        }
        .disabled-item {
          cursor: not-allowed;
          .content-item-left {
            cursor: not-allowed;
            .icon-move {
              cursor: not-allowed;
            }
            .checkbox-input {
              cursor: not-allowed;
            }
            .checkbox-label {
              cursor: not-allowed;
            }
          }
          .content-item-right {
            cursor: not-allowed;
          }
        }
      }
      .pop-over-footer {
        color: $--board-bar-text-dropdown;
        padding: 12px;
        .title-footer {
          font-size: 16px;
          font-weight: bold;
          margin: 10px 10px 8px;
        }
        .des-footer {
          margin: 12px 10px 17px;
        }
        .btn-try-free {
          width: 100%;
          margin-bottom: 12px;
        }
        .learn-more-trello {
          text-decoration: underline;
          text-align: center;
          margin: 5px 0px;
          cursor: pointer;
        }
      }
    }
  }
  .navbar-board-right {
    display: flex;
    justify-content: right;
    flex: 1;
    .btn-action > * {
      white-space: nowrap;
    }
    .add-ons {
      .btn-add-ons {
        background-color: $button-color;
        &:hover {
          background-color: $hover-button-color;
        }
      }
      .dropdown-add-ons {
        width: 304px;
        position: absolute;
        background-color: white;
        margin-top: 5px;
        z-index: 1;
        border-radius: 3px;
        box-shadow: var(
          --ds-shadow-overlay,
          0 8px 16px -4px rgba(9, 30, 66, 0.25),
          0 0 0 1px rgba(9, 30, 66, 0.08)
        );
        .pop-over-header {
          text-align: center;
          position: relative;
          height: 40px;
          margin: 0px 12px 8px 12px;
          color: $--board-bar-text-dropdown;
          border-bottom: 1px solid $--divider-section;

          .pop-over-header-title {
            height: 40px;
            line-height: 40px;
          }
          .btn-pop-over-header-close {
            top: 0px;
            right: 0px;
            padding: 10px 0px 10px 8px;
            position: absolute;
            cursor: pointer;
            &:hover {
              color: black;
            }
          }
        }
        .pop-over-content {
          text-align: center;
          padding: 0px 12px;
          margin-bottom: 12px;

          .img-content-center {
            width: 164px;
            height: 147px;
            margin-bottom: 12px;
          }
          .btn-add-ons-bottom {
            width: 100%;
            height: 32px;
            margin-bottom: 8px;
            margin-top: 12px;
          }
        }
      }
    }

    .automation {
      .btn-automation {
        background-color: $button-color;
        &:hover {
          background-color: $hover-button-color;
        }
      }
      .dropdown-automation {
        width: 304px;
        position: absolute;
        background-color: white;
        color: $--board-bar-text-dropdown;
        margin-top: 5px;
        z-index: 1;
        border-radius: 3px;
        box-shadow: var(
          --ds-shadow-overlay,
          0 8px 16px -4px rgba(9, 30, 66, 0.25),
          0 0 0 1px rgba(9, 30, 66, 0.08)
        );
        .pop-over-header {
          text-align: center;
          position: relative;
          height: 40px;
          line-height: 40px;
          margin: 0px 12px 8px 12px;
          color: $--board-bar-text-dropdown;
          border-bottom: 1px solid $--divider-section;
          .pop-over-header-title {
          }
          .btn-pop-over-header-lose {
            position: absolute;
            right: 0px;
            cursor: pointer;
            &:hover {
              color: black;
            }
          }
        }

        .pop-over-content {
          padding-bottom: 16px;
          .pop-over-item {
            padding: 6px 12px;
            cursor: pointer;
            &:hover {
              background-color: $--hover-board-name-pop-up;
            }
            .item-name {
              display: flex;
              align-items: center;
              margin-bottom: 3px;
              & > * {
                margin-right: 8px;
              }
            }
            .item-description {
              font-size: 12px;
            }
          }
        }
      }
    }

    .filter {
      .btn-filter {
        background-color: $button-color;
        &:hover {
          background-color: $hover-button-color;
        }
      }
    }

    .share-board {
      .btn-share-board {
        background-color: white;
        color: black;
        &:hover {
          background-color: #dfe1e6;
        }
      }
    }
    .board-menu {
      .btn-board-menu {
        background-color: $button-color;
        &:hover {
          background-color: $hover-button-color;
        }
      }
    }
    .account {
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 4px;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: $hover-button-color;
      }
      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00875a;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        font-size: 0.8rem;
        &:hover {
          background-color: lighten($color: #00875a, $amount: 3);
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .btn-action {
      .left-icon {
        margin-right: 0;
      }
      .right-title {
        display: none;
      }
    }
  }
}
