@import "_setting.scss";

$--board-bar-text-dropdown: #5e6c84;
$--divider-section: #091e4221;
$--hover-board-name-pop-up: #091e420a;

.navbar-board {
  height: auto;
  padding: 0 $gap;
  margin: 5px 0px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  .navbar-board-btn-divider {
    border-left: 1px solid hsla(0, 0%, 100%, 0.16);
    height: 16px;
    margin: 8px 8px 12px 4px;
  }
  .navbar-board-left {
    display: flex;

    .btn-action {
      height: 32px;
      padding: 0 12px;
      margin: 0px 4px 4px 0px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      & > * {
        white-space: nowrap;
      }
      cursor: pointer;
      .left-icon {
        margin-right: 8px;
      }
    }

    .board-name {
      font-size: 18px;
      font-weight: bold;
      white-space: nowrap;
      width: 150px;
      background-color: hsla(0, 0%, 100%, 0);
      border: none;
      &:hover {
        background-color: $hover-button-color;
      }
      &:focus {
        cursor: text;
        color: $app-main-text-color;
        background-color: white;
      }
    }

    .tick-star {
      background-color: $button-color;
      font-size: 18px;
      &:hover {
        background-color: $hover-button-color;
        color: #f2d600;
        .icon-tick-star {
          scale: 1.1;
        }
        .icon-tick-star-block {
          scale: 1.1;
        }
      }
      .icon-tick-star-block {
        color: #f2d600;
      }
    }

    .display-work-spacing {
      .btn-display-work-spacing {
        background-color: $button-color;
        &:hover {
          background-color: $hover-button-color;
        }
      }
      .dropdown-display-work-spacing {
        width: 370px;
        position: absolute;
        background-color: white;
        border-radius: 3px;
        z-index: 1;
        .pop-over-header {
          margin-bottom: 8px;
          text-align: center;
          position: relative;
          height: 40px;
          color: $--board-bar-text-dropdown;

          .pop-over-header-title {
            line-height: 40px;
            padding: 0 32px;
            margin: 0 12px;
            position: relative;
            border-bottom: 1px solid $--divider-section;
            display: block;
          }
          .pop-over-header-close-btn {
            top: 0px;
            right: 0px;
            padding: 10px 12px 10px 8px;
            position: absolute;
            cursor: pointer;
          }
        }
        .pop-over-content {
          &:last-child {
            padding-bottom: 18px;
          }
          padding: 6px 12px;
          cursor: pointer;
          .icon-right {
            margin-right: 5px;
          }
          .organization-icon {
            color: #ed6d5c;
          }

          .sub-name {
            padding-top: 5px;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: $--board-bar-text-dropdown;
          }
          &:hover {
            background-color: $--hover-board-name-pop-up;
          }
        }
        .disabled {
          .organization-icon {
            color: #a5adba;
          }
          .sub-name {
            color: #a5adba;
          }
          color: #a5adba;
          background: none !important;
          cursor: default;
          pointer-events: none;
        }
      }
    }

    .board {
      background-color: #dfe1e6;
      color: $app-main-text-color;
      &:hover {
        background-color: white;
      }
    }
    .update-display {
      background-color: $button-color;
      &:hover {
        background-color: $hover-button-color;
      }
    }
  }
  .navbar-board-right {
    display: flex;
    justify-content: right;
    flex: 1;
    .btn-action {
      height: 32px;
      padding: 0 12px;
      margin: 0px 4px 4px 0px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      cursor: pointer;
      .left-icon {
        margin-right: 8px;
      }
    }
    .btn-action > * {
      white-space: nowrap;
    }
    .add-ons {
      background-color: $button-color;
      &:hover {
        background-color: $hover-button-color;
      }
    }
    .share-board {
      background-color: #ffffff;
      color: $app-main-text-color;
    }
    .board-menu {
      background-color: $button-color;
      &:hover {
        background-color: $hover-button-color;
      }
    }
    .account {
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 4px;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: $hover-button-color;
      }
      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00875a;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        font-size: 0.8rem;
        &:hover {
          background-color: lighten($color: #00875a, $amount: 3);
        }
      }
    }
  }
}
