@import "_setting.scss";

$column-header-height: 48px;
$column-footer-height: 36px;

$column-height: calc(#{$board-content-height} - #{$gap * 2});

.column {
  flex: 0 0 auto;
  width: 300px;
  height: $column-height;
  margin-left: $gap;
  > * {
    background-color: $column-bg-color;
    padding: 0 8px;
  }
  header.column-drag-handle {
    padding-left: 8px;
    height: $column-header-height;
    line-height: $column-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .column-title {
      flex: 90%;
    }
    .column-dropdown-actions {
      flex: 10%;
      button.dropdown-btn {
        padding: 0px 10px;
        margin-bottom: 3px;
        height: 34px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
        border: 1px solid $column-bg-color;
        background-color: $column-bg-color;
        color: $app-main-text-color;
        &:after {
          content: "...";
          border: none;
        }
        &:hover {
          background-color: darken($column-bg-color, 10);
        }
      }
      .dropdown-menu {
        padding: 0px;
        min-width: 200px;
        border-radius: $column-border-radius;
        border: none;
        a.dropdown-item {
          padding: 0 15px;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          &:not(:last-child) {
            margin-bottom: 2px;
          }
        }
      }
    }
  }
  footer {
    padding-left: $gap;
    height: $column-footer-height;
    min-height: $gap;
    line-height: $column-footer-height;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;
    color: #888;
    padding-bottom: 40px;
    .footer-actions {
      margin-left: 5px;
      cursor: pointer;
      &:hover {
        color: $app-main-text-color;
      }
    }
  }
  .card-list {
    margin: 0;
    max-height: calc(
      #{$column-height} - #{$column-header-height} - #{$column-footer-height} - #{$gap}
    );
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($column-bg-color, 15);
      border-radius: $card-boder-radius;
    }
    .card-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }
    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg);
      font-weight: bold;
    }
    .card-ghost-drop {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
      font-weight: bold;
    }
    .add-new-card-area {
      .textarea-enter-new-card {
        min-height: 54px;
        max-height: 162px;
        margin-bottom: 5px;
      }
    }
    .add-new-card {
      max-width: 250px;
      font-size: 15px;
      line-height: 20px;
      padding: $gap;
      margin-left: $gap;
      background-color: hsla(0, 0%, 100%, 0.24);
      cursor: pointer;
      color: white;
      border-radius: $column-border-radius;
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.3);
      }
    }
  }
  .card-list-hidden-sidebar-true {
    max-height: calc(
      #{$column-height} - #{$column-header-height} - #{$column-footer-height} + 30px
    );
  }
  .card-list-hidden-sidebar-false {
    max-height: calc(
      #{$column-height} - #{$column-header-height} - #{$column-footer-height} - #{$gap}
    );
  }
}
