@import "_setting.scss";

$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;

$list-bg-color: #ebecf0;
$column-height: calc(#{$board-content-height} - #{$gap * 2});

.column {
  flex: 0 0 auto;
  width: 300px;
  height: $column-height;
  margin-left: $gap;
  > * {
    background-color: $list-bg-color;
    color: #333;
    padding: 0 8px;
  }
  header.column-drag-handle {
    padding-left: 15px;
    height: $column-header-height;
    line-height: $column-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;
    cursor: pointer;
  }
  footer {
    padding-left: $gap;
    height: $column-footer-height;
    line-height: $column-footer-height;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;
  }
  div.card-list {
    margin: 0;
    max-height: calc(
      #{$column-height} - #{$column-header-height} - #{$column-footer-height}
    );
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($list-bg-color, 15);
      border-radius: $card-boder-radius;
    }
    .card-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }
    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg);
    }
  }
}
