@import "_setting.scss";

.card-item {
  background-color: white;
  padding: $gap;
  border-radius: $card-boder-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: $gap;
  overflow-x: none;
  img.card-cover {
    width: calc(100% + 2 * #{$gap});
    height: auto;
    margin: -$gap 0 $gap (-$gap);
    border-top-left-radius: $card-boder-radius;
    border-top-right-radius: $card-boder-radius;
  }
  &:hover {
    background-color: darken(white, 10);
  }
}
