@import "_setting.scss";

$common-element-bg: rgba(255, 255, 255, 0.24);

.board-content {
  height: $board-content-height;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  &::after {
    content: "";
    flex: 0 0 $gap;
  }
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $common-element-bg;
    border-radius: 8px; 
  }
  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px;
  }
  .column-ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg);
  }
  .add-new-column {
    width: 250px;
    max-width: 250px;
    font-size: 15px;
    line-height: 20px;
    padding: $gap;
    margin-left: $gap;
    background-color: hsla(0, 0%, 100%, 0.24);
    cursor: pointer;
    color: white;
    border-radius: $column-border-radius;
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.3);
    }
  }
  .enter-new-column {
    width: 250px;
    max-width: 250px;
    font-size: 15px;
    line-height: 20px;
    padding: 8px;
    margin-left: $gap;
    background-color: $column-bg-color;
    border-radius: $column-border-radius;
    input.input-enter-new-column {
      margin-bottom: 3px;
    }
  }
}
