@import "_setting.scss";

$common-element-bg: rgba(255, 255, 255, 0.24);

.board-content {
  display: flex;
  margin: 0px 0px $gap;
  overflow-x: auto;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $common-element-bg;
    border-radius: 8px;
  }
}
