@import "~bootstrap/scss/bootstrap";
@import "./_setting.scss";

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  overflow-x: hidden;
}

.trello-quangdungdev-master {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background: $board-bg-img;
  background-repeat: no-repeat;
  // background-position: center;
  background-size: cover;
  color: $app-main-text-color;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  .icon {
    font-size: 14px;
    margin: 0 3px;
  }
  .quangdungdev-trello-container {
    margin: 0 15px;
    padding: 0;
  }
  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  [type="text"].form-control:focus,
  [type="password"].form-control:focus,
  [type="email"].form-control:focus,
  [type="tel"].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid $input-border-column;
  }
  .btn:focus,
  .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }


  .quangdungdev-content-editable {
    background-color: inherit;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    &:focus {
      background-color: white;
      cursor: text;
    }
  }
  .cancel-icon {
    margin-left: $gap;
    i {
      font-size: 18px;
      cursor: pointer;
      color: $alert-danger;
      &:hover {
        color: darken($alert-danger, 10);
      }
    }
  }

  .board-and-sidebar {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
  }
}
